.info .position {
	position: absolute;
	top: 50px;
	left: 50px;
    min-width: 200px;
    height: 32px;
	background-color: rgba(255, 255, 0, 0.7);
	z-index: 1000;
	pointer-events: none;
	padding: 10px;
	border-radius: 10px;
}

#openseadragon1 {
    position: relative;
}

#plainbrowser #openseadragon1 {
    height: 100%;
}
